body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #00bfff;
}

.title
{
    background-color: #00bfff;
    display: block;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.title span
{
    color: #ffffff;
    font-weight: 300;
    line-height: 40px;
    font-size: 40px;
}

footer
{
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 100px;
    clear:both;
    margin-left: 30%;
}

img
{
    border: 2px solid black;
    margin: 2%;
    max-width: 90%;
}

.photos
{
    text-align: center;
}


.navigation
{
    background-color: #8a2be2;
    margin: 0;
    padding: 0;
    color: #fff;
    list-style: none;
    display: table;
    width: 100%;
    font-size: 30px;
    height: auto;
}

.navigation  li
{
    display: table-cell;
    text-align: center;
    padding-right: 5%;

}

.navigation li a
{
    text-decoration: none;
    color: #fff;
}

.navigation li a:hover
{
    color: #00ff00;
}

@media (min-width: 768px)
{
    .navigation
    {
        text-align: center;
    }

    .photos
    {
        vertical-align: middle;
        width: 30%;
        float: left;
    }

    .content
    {
        width: 68%;
        float: right;
        margin-right: 2%;
    }
}

@media (max-width: 768px)
{
    .content
    {
        margin-left: 2%;
    }

    .navigation
    {
        text-align: left;
    }

    .navigation li
    {
        margin-left: 10%;
        text-align: left;
        display: block;
    }

    footer
    {
        position: relative;
        margin-top: 0; /* negative value of footer height */
        height: 10px;
        clear:both;
        margin-left: 30%;
    }

    iframe
    {
        height: auto;
    }
}